:root{
    --color-secundario: #F9F5EF;
    --color-primario: #C7A17C;
    --color-black: black;
    --color-grey: #777;
}

*,
::before,
::after{
    box-sizing: border-box;
}

/* el html es el q tiene el tamaño de 16px por defecto en el navegador
en el ejercicio se pasar a 10px (para saber q 1rem=10px, 2rem=20px, es decir mejora el calculo al utilizar rem) estos equivale a 62.5% 
16px ----100%
10px ---- x?=> 10=>62.5% 
porq se utiliza 62.5% y no directamente 10px? porq el usuario o el navegador puedo haber cambiado el tamaño manualmente 
por lo tanto al colocarlo en porcentaje es mas flexible.
*/

html{
    font-size: 62.5%; /* 10px*/
}

body{
    font-family: "Poppins",sans-serif;
}

h1,p{
    margin: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}

.titulo{
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
}

/* CONTENIDO HERO */

.contenedor-hero {
    
    width: 100%;
    background-color: var(--color-secundario);
    
}

.contenedor{
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem 0;

    justify-content: space-between;
    align-items: center;

}

.contenedor-teleoperador{
    display: flex;
    align-items: center;
    gap: 2rem;
} 
.contenedor-teleoperador i{
    font-size: 3.3rem;
}

header .contenedor-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

header .contenedor-logo a{
    
     text-decoration: none;    
     color: var(--color-black);
     font-size: 3rem;
     letter-spacing: -1px;


}

header .contenedor-logo i{
    font-size: 3rem;
}

.contenedor-compras{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contenedor-compras .fa-user-large{
    font-size: 3rem;
    color: var(--color-primario);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
    
}

.contenedor-compras .fa-basket-shopping{
    font-size: 3rem;
    color: var(--color-primario);
    padding-left: 1rem;
}

/* SECCION NAVBAR */

.contenedor-navbar{
    background-color: var(--color-primario);
}

.fa-bars{
    display: none;
}

.contenedor-lista{
    display: flex;
    gap: 2rem;
    padding: 0; 
}

.contenedor-lista a{
    color: var(--color-black);
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
}

.contenedor-lista a::after{
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%,50%);
    opacity: 0;
    transition: all .3s ease;

}

.contenedor-lista a:hover::after{
    opacity: 1;
}
.contenedor-lista a:hover{
    color: white;
}

.contenedor-buscador{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: white;
    height: 4.4rem;
    overflow: hidden;
}

.contenedor-buscador input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: var(--color-grey);
    cursor: pointer;
}

.contenedor-buscador input::-webkit-search-cancel-button{
    appearance: none;
}

.contenedor-buscador .boton-buscador{
    border: none;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    
}

.boton-buscador i{
    font-size: 2rem;
    color: white;
}
/* banner */

.banner{
    background-image: linear-gradient(100deg,rgb(0 0 0),rgb(0 0 0/.2)), url("img/banner.jpg");
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.contenedor-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.contenedor-banner p{
    color: var(--color-primario);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;

}
.contenedor-banner h2{
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;

}

.contenedor-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color:white;
    background-color: var(--color-primario);
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 3rem;
}

/* fractura */

.contenedor-fractura{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-fractura{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;    
    gap: 1.5rem;
    border-radius: 1rem;
    padding: 1.5rem 0;
}
.card-fractura i{
    font-size: 2.7rem;
    color: var(--color-primario);

}

.texto-fractura{
    display: flex;
    flex-direction: column;
    gap: 0.5rem

}

.texto-fractura span{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color-black);
}

.texto-fractura p{
    color: var(--color-grey);
    font-weight: 500;
}




.top-categoria{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}


.contenedor-categoria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.card-categoria{
    height: 20rem;
    width: 40rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.categoria-moca{
    background-image: linear-gradient(#00000080,#00000080),url("img/moca-category.jpg");
    background-size: cover;
    background-position: bottom;
    
}
.categoria-americano{
    background-image:  linear-gradient(#00000080,#00000080),url("img/expreso-category.jpg");
    background-position: center;
    background-size: cover;

}
.categoria-capuchino{
    background-image: linear-gradient(#00000080,#00000080), url("img/capuchino-category.jpg");
    background-size: cover;
    background-position: center;
    
}

.card-categoria p{
    color: white;
    font-size: 2.5rem;
    text-transform: capitalize;
    position: relative;
}

.card-categoria span{
    font-size: 1.6rem;
    color: white;
    cursor: pointer;
    
}
.card-categoria span:hover{
    color: var(--color-primario);
}

.card-categoria p::after{
    content: "";
    width: 2.5rem;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translate(-50% ,50%);

}

/* CONTENEDOR MAIN */

.contenedor-main{
    background-color: var(--color-secundario);
}


/* PRODUCTOS */

.mejore-producto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.contenedor-opcione{
    display: flex;
    justify-content:center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.contenedor-opcione span{
    color: var(--color-grey);
    background-color: white;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease .3s;
}

.contenedor-opcione span:hover{
    background-color: var(--color-primario);
    color: white;
}

.contenedor-opcione span.activa{
    background-color: var(--color-primario);
    color: white;
} 

/* CONTENEDOR DEL PRODUCTO */
.contenedor-producto{
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 3rem;
}

.card-producto{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(0 0 0/.1);
}

.contenedor-img{
    position: relative;

}

.contenedor-img img{
    width: 100%;
}
.contenido-card-producto{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* min-content: el alto de la fila se adapta al contenido */
    grid-template-rows: repeat(4,min-content);
    justify-items: center;
    row-gap: 1rem;
}

.estrella{
    /* ocupara la primera fila */
    grid-row: 1/2; 
    /* ira desde la 1 linea de la columna hasta la ultima  */
    grid-column: 1/-1;
}
.estrella i{
    font-size: 1.3rem;
    color: var(--color-primario);
}

.contenido-card-producto h3{
    grid-row: 2/3;
    grid-column: 1/-1;
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.contenido-card-producto h3:hover{
    color: var(--color-primario);
}

.add-cart{
    justify-self: start;
   border: 2px solid var(--color-primario); 
   padding: 1rem;
   border-radius: 50%;
   cursor: pointer;
   transition: all .4s ease;

   display: flex;
   align-items: center;
   justify-content: center;
}

.add-cart:hover{
    background-color: var(--color-primario);
}

.add-cart i{
    font-size: 1.5rem;
    color: var(--color-primario);
}
.add-cart:hover i{
    color: white;
}

.contenido-card-producto .precio{
    justify-self: end;
    align-self: center;

    font-size: 1.7rem;
    font-weight: 600;
}

.contenido-card-producto .precio span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color: var(--color-grey);
    margin-left: .5rem;
}

.contenedor-img .descuento{
    position: absolute;
    left: 0;
    background-color: var(--color-primario);
    padding: 2px 1.2rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.2rem;

}
.card-producto:hover .descuento{
    background-color: black;
}

.grupo-boton{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 0;
    right: -3rem;
    z-index: -1;
    transition: all .4s ease;
    
}

.grupo-boton span{
    border: 1px solid var(--color-primario);
    padding: .8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;
}

.grupo-boton span:hover{
    background-color: var(--color-primario);
}

.card-producto:hover .grupo-boton{
    z-index: 0;
    right: -1rem;
}