:root{
    --color-secundario: #F9F5EF;
    --color-primario: #C7A17C;
    --color-black: black;
    --color-grey: #777;
}

*,
::before,
::after{
    box-sizing: border-box;
}

/* el html es el q tiene el tamaño de 16px por defecto en el navegador
   en el ejercicio se pasar a 10px (para saber q 1rem=10px, 2rem=20px, es decir mejora el calculo al utilizar rem) estos equivale a 62.5% 
        16px ----100%
        10px ---- x?=> 10=>62.5% 
    porq se utiliza 62.5% y no directamente 10px? porq el usuario o el navegador puedo haber cambiado el tamaño manualmente 
    por lo tanto al colocarlo en porcentaje es mas flexible.
*/

html{
    font-size: 62.5%; /* 10px*/
}

body{
    font-family: "Poppins",sans-serif;
}

h1,p{
    margin: 0;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* CONTENIDO HERO */

.contenedor-hero {
    
    width: 100%;
    background-color: var(--color-secundario);
    
}

.contenedor{
    display: flex;
    max-width: 120rem;
    margin: 0 auto;
    padding: 2rem 0;

    justify-content: space-between;
    align-items: center;

}

.contenedor-teleoperador{
    display: flex;
    align-items: center;
    gap: 2rem;
} 
.contenedor-teleoperador i{
    font-size: 3.3rem;
}

header .contenedor-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

header .contenedor-logo a{
    
     text-decoration: none;    
     color: var(--color-black);
     font-size: 3rem;
     letter-spacing: -1px;


}

header .contenedor-logo i{
    font-size: 3rem;
}

.contenedor-compras{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contenedor-compras .fa-user-large{
    font-size: 3rem;
    color: var(--color-primario);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
    
}

.contenedor-compras .fa-basket-shopping{
    font-size: 3rem;
    color: var(--color-primario);
    padding-left: 1rem;
}

/* SECCION NAVBAR */

.contenedor-navbar{
    background-color: var(--color-primario);
}

.fa-bars{
    display: none;
}

.contenedor-lista{
    display: flex;
    gap: 2rem;
    padding: 0; 
}

.contenedor-lista a{
    color: var(--color-black);
    font-size: 1.3rem;
    font-weight: 600;
    position: relative;
}

.contenedor-lista a::after{
    content: "";
    width: 1.5rem;
    height: 1px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%,50%);
    opacity: 0;
    transition: all .3s ease;

}

.contenedor-lista a:hover::after{
    opacity: 1;
}
.contenedor-lista a:hover{
    color: white;
}

.contenedor-buscador{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 2rem;
    background-color: white;
    height: 4.4rem;
    overflow: hidden;
}

.contenedor-buscador input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: var(--color-grey);
    cursor: pointer;
}

.contenedor-buscador input::-webkit-search-cancel-button{
    appearance: none;
}

.contenedor-buscador .boton-buscador{
    border: none;
    background-color: var(--color-primario);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
    
}

.boton-buscador i{
    font-size: 2rem;
    color: white;
}
/* banner */

.banner{
    background-image: linear-gradient(100deg,rgb(0 0 0),rgb(0 0 0/.2)), url("img/banner.jpg");
    height: 60rem;
    background-size: cover;
    background-position: center;
}

.contenedor-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.contenedor-banner p{
    color: var(--color-primario);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;

}
.contenedor-banner h2{
    color: white;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;

}

.contenedor-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color:white;
    background-color: var(--color-primario);
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: 3rem;
}

/* fractura */

.contenedor-fractura{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-fractura{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;    
    gap: 1.5rem;
    border-radius: 1rem;
    padding: 1.5rem 0;
}
.card-fractura i{
    font-size: 2.7rem;
    color: var(--color-primario);

}

.texto-fractura{
    display: flex;
    flex-direction: column;
    gap: 0.5rem

}

.texto-fractura .titulo-fractura{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--color-black);
}
